label {
  color: rgb(var(--gray-200));
  display: block;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: var(--rounded);
  padding: 0.5rem 0.75rem;
}

textarea {
  border-radius: var(--rounded);
  padding: 0.5rem 0.75rem;
  resize: both;
}

input[type="checkbox"] {
  accent-color: rgb(var(--green-600));
}

::placeholder {
  color: rgb(var(--gray-500));
}
