label {
  display: block;
  font-weight: 600;
  color: rgb(var(--gray-200));
}

input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    padding: 0.5rem 0.75rem;
    border-radius: var(--rounded);
  }

  &[type="checkbox"] {
    appearance: auto;
    accent-color: rgb(var(--green-600));

    + label {
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}

textarea {
  padding: 0.5rem 0.75rem;
  resize: both;
  border-radius: var(--rounded);
}

::placeholder {
  color: rgb(var(--gray-500));
}
