.container {
  position: fixed;
  z-index: 50;
  width: 0;
  height: 0.25rem;
  background: rgb(var(--green-600));
}

.start {
  width: 99%;
  background: rgb(var(--green-600) / 50%);
  transition: width 10s cubic-bezier(0.1, 0.05, 0, 1);
}

.complete {
  width: 100%;
  background: rgb(var(--green-600) / 70%);
  transition: width 0.1s ease-out;
}
