.container {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  margin: 1.5rem 0 0;
}

.information {
  width: 100%;
}

@media (width >= 768px) {
  .information {
    width: 50%;
  }
}

.fieldset {
  width: 100%;
}

@media (width >= 768px) {
  .fieldset {
    width: 50%;
  }
}

.textbox {
  background: rgb(var(--gray-900));
  border: 1px solid rgb(var(--gray-700));
}
