.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  margin: 1.5rem 0 0;
}

.information {
  width: 100%;
}

@media (width >= 48rem) {
  .information {
    width: 50%;
  }
}

.fieldset {
  width: 100%;
}

@media (width >= 48rem) {
  .fieldset {
    width: 50%;
  }
}

.textbox {
  background: rgb(var(--gray-900));
  border: 1px solid rgb(var(--gray-700));
}

.textarea {
  background: rgb(var(--gray-900));
  border: 1px solid rgb(var(--gray-700));
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0;
}

.footerLink {
  align-items: center;
  border-bottom: 1px solid rgb(var(--green-600));
  display: inline-flex;
  gap: 0.25rem;
  text-decoration: none;
}

.footerLinkIcon {
  height: 1.25rem;
  width: 1.25rem;
}
