.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0 0 0;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.mainLink {
  padding: 0.5rem 1.25rem;
}

.description {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.footer {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.footerLink {
  padding: 0.5rem 1.25rem;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
