.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleSuffix {
  color: rgb(var(--gray-400));
  font-size: var(--text-base);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerDescription {
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  padding: 1rem;
}

.footerIcon {
  height: 1.25rem;
  margin: 0 0.25rem 0 0;
  vertical-align: -0.2em;
  width: 1.25rem;
}
