@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.container {
  pointer-events: none;
}

.svg {
  animation: spin 1s linear infinite;
  color: rgb(var(--gray-400));
  height: 1.25rem;
  width: 1.25rem;
}

.circle {
  opacity: 0.25;
}

.path {
  opacity: 0.75;
}
