.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  gap: 1.25rem;
  margin: 0 auto;
  padding: 7rem 1rem 2.5rem;
  width: 100%;
}

@media (width >= 768px) {
  .main {
    width: 768px;
  }
}
