.container {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
}

.feedback {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 1px rgb(var(--red-400));

  &:focus {
    box-shadow: 0 0 0 3px rgb(var(--red-400));
  }
}
