.container {
  align-items: center;
  color: rgb(var(--amber-500));
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
