.container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.footerMessage {
  padding: 1rem;
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
}

.footerMessageIcon {
  min-width: 1.25rem;
  height: 1.25rem;
  margin: 0.15rem 0 0 0;
}
