.container {
  display: flex;
  gap: 0.25rem;
}

.feedback {
  box-shadow: 0 0 0 1px rgb(var(--red-400));
  outline-offset: 2px;
  outline: 2px solid transparent;
}

.feedback:focus {
  box-shadow: 0 0 0 2px rgb(var(--red-400));
}
