.container {
  display: flex;
  gap: 0.25rem;
}

.main {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.feedback {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 1px rgb(var(--red-400));

  &:focus {
    box-shadow: 0 0 0 2px rgb(var(--red-400));
  }
}
